body {
    
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 120%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 140%;
    background-color: red;
    padding: 14px 80px;
    text-decoration: none;
    min-width: 50%;
    color: white;
}

.btn:hover{
    background-color: rgb(255, 0, 247);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.con1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    padding-top: 20px;
    justify-content: center;
}

.con2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    padding-top: 20px;
    justify-content: center;
}

.con_photo {
    position: relative;
    min-height: 100vh;
}
.con_photo .img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}
.con_photo .img-container .image {
    height: 250px;
    width: 350px;
    border: 10px solid white;
    box-shadow: 0 5px 15px black;
    overflow: hidden;
    cursor: pointer;
}

.con_photo .img-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.con_photo .img-container .image:hover img{
    transform: scale(1.1);
}

.con_photo .popup-image {
    display: none;
    position: fixed;
    top: 0; left: 0;
    background: rgb(0, 0, 0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
}

.con_photo .popup-image span{
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
    
}
.con_photo .popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

@media (max-width:768px){
   .container .popup-image img{
    width: 75%;
   }
}


